[submodule ".registry"]
	path = .registry
	url = https://github.com/jdpreston30/jdpreston30.r-universe.dev
	branch = HEAD
[submodule "TernTables"]
	path = TernTables
	url = https://github.com/jdpreston30/TernTables
